Conformance (Section 1.5) and RFC 2119

I recommend being extremely careful about invocations of RFC 2119 because it not only defines the relevant terms but specifies specific, interoperability-related (not, as often assumed, conformance-related), conditions for using them.    See RFC 2119 Section 6.

I recommend either defining the terms you need or making it clear that the only part of 2119 you are using is the definitions in Sections 1-5 and that you are using them as part of conformance, not primarily interoperability, criteria.



Nope. This is boilerplate generated by ReSpec. It's common to W3C specs. You could file a bug against the ReSpec folks, of course.

I did, in looking at this issue, remove the redundant <h4> conformance title.
