Definition of "resource" (section 1.4)

I don't know who, if anyone, cares, but this definition of "resource"  appears to be inconsistent with the definition in Section 1.1 of RFC 3986, a definition that has sometimes been cited as if it constituted holy writ.


LOL. I can change it back to Wildebeest.

There is no doubt that Mr. Fielding's definition is way more perfectly all-encompassing. But putting is here would be a problem. A person or a concept cannot contain syntactic content (and arguments can be made that they can't physically contain natural language content--stepping on Roy's toes will cause him to emit natural language rather than contain it, I suspect)

But drollery aside... what should we call (er, uh) resources?


--On Wednesday, February 03, 2016 21:41 -0800 aphillips
notifications@github.com wrote:

> LOL. I can change it back to Wildebeest.
> 
> There is no doubt that Mr. Fielding's definition is way more
> perfectly all-encompassing. But putting is here would be a
> problem. A person or a concept cannot contain syntactic
> content (and arguments can be made that they can't physically
> contain natural language content--stepping on Roy's toes will
> cause him to emit natural language rather than contain it, I
> suspect)
> 
> But drollery aside... what should we call (er, uh) resources?

Recommendation for the avoidance for wildebai:

Just note, as part of your definition, that "resource", as used
in this document, is somewhat more restrictive than the more
general definition of 3986.  You could add a version of your "A
person or concept..." sentence above to further clarify, but I'd
skip it.  Then move on.  That would be explicit recognition of
the difference rather than hoping that neither Roy nor anyone
else who might emit colorful natural language would notice.  It
is completely defensible, at least IMO, and, if someone chooses
to object, they inherit the wildebeest (and maybe the semantics
of some handy GNU). :-(

   john


I think "applied loosely", as now used in the text, is ok, but note that the issue of the precise 3986 meaning arose again during late-stage discussions of the revised URN spec (rfc2141bis/ forthcoming RFC 8141). 